[Desktop Entry]
Type=Application
Name=Shutdown
Comment=Select display profile for next startup then shut down
Exec=%%HOME%%/bin/display-shutdown.sh
Icon=system-shutdown
Terminal=false
Categories=Settings;HardwareSettings;
Keywords=shutdown;display;monitor;power;
